{{ '<BOS>' }}{% for m in messages %}{% if m['role'] == 'system' %}{{ '<I_EXPLAIN>' }}{% elif m['role'] in ['user', 'human'] %}{{ '<I_QUESTION>' }}{% elif m['role'] == 'assistant' %}{{ '<I_ANSWER>' }}{% elif m['role'] == 'tool' %}{{ '<TOOL_RESULT>' }}{% endif %}{% if m.get('tool_call') %}{{ '<TOOL_CALL>' }}{{ '<T_' ~ m['tool_call']['name'] ~ '>' }}{{ m['tool_call'].get('args', '') }}{{ '<TOOL_RESULT>' }}{% else %}{{ m['content'] }}{% endif %}{{ '<SEP>' }}{% endfor %}{% if add_generation_prompt %}{{ '<I_ANSWER>' }}{% endif %}
